<form action="/search" method="get" class="form-inline my-2 my-lg-0">
    <input name="term" class="form-control mr-sm-2" type="text" placeholder="Search">
    <select name="index" class="form-control mr-sm-2">
        <option value="current">Current Pilulka</option>
    </select>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
